<h1>Test</h1>


<a rel="stylesheet"
    href="http://localhost:3001/api/v1/vnpay/vnpay_ipn?vnp_Amount=10000000&vnp_BankCode=NCB&vnp_BankTranNo=VNP14376392&vnp_CardType=ATM&vnp_OrderInfo=Thanh+toan+don+hang&vnp_PayDate=20240412184121&vnp_ResponseCode=00&vnp_TmnCode=NG8OZEJ2&vnp_TransactionNo=14376392&vnp_TransactionStatus=00&vnp_TxnRef=180444&vnp_SecureHash=17eec8d5ec1b82f7e695dc1506db6395e5ea4285e1c9c57eb6a4dddb87fd1dbeeaca820ea27657ab0106ff377d6c1476c27dfcb7d6a85866668f085a4679494e" />
result
<a>